//colors
$color-red: #f1676c;
$color-gray-light: #eeeff1;
$color-gray: #a6aeb9;
$color-gray-medium: #788290;
$color-gray-darker: #666;
$color-gray-dark: #2b3945;
$color-white: #ffffff;

//font sizes
$font-smallest: 0.7em;
$font-small: 0.8em;
$font-basic: 0.9em;
$font-large: 2em;
$font-normal: 1em;

$border-radius-unit: 5px;

//font weight
$weight-bolder: 800;
$weight-bold: 600;
$weight-normal: 500;
$weight-light: 400;

$base-spacing-unit: 20px;
